# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/
**/node_modules/
**/OISTATS/
**/DATA/

npm-debug.log
.DS_Store
/*.env
__pycache__/marketData.cpython-39.pyc
.vscode/extensions.json
