html {
  font-family: Roboto, sans-serif;
  font-size: 12px !important;
  height: 100vh;
}

table.report,
table.report td,
table.report th,
table.report tr {
  border-collapse: collapse;
  border: 1px solid rgba(206, 205, 205, 0.5);
  white-space: nowrap;
}

table.report tr td,
table.report tr th {
  padding: 4px 6px;
}
table.report tr td {
  text-align: right;
}
table.report tr th {
  font-weight: bold;
  text-align: center;
}

.tabHeader {
  background-color: rgb(3, 70, 97);
  color: ivory;
}
